* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
header {
    background: #f8f8f8;
    padding: 20px 0;
}
.logo img {
    max-height: 140px;
    border-radius: 100px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
.hero {
    font-family: serif;
    position: relative;
    background: linear-gradient(to bottom, #0a0a0a, #800020);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #ffd700;
    overflow: hidden;
}
.hero-content h1 {
    margin: 0 auto;
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.hero-content p {
    width: 900px;
    font-size: 40px;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.5;
}
.btnhero {
    font-size: 18px;
    display: inline-block;
    padding: 15px 35px;
    background: #ffd700;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
    color: #800020;
    margin: 40px;
}
.btnhero:hover {
    background: #d4af37;
    font-size: 19px;
}
.btnhero:active {
    background: #ffd700;
}
h1 {
    font-size: 3em;
}
.btn {
    font-size: 16px;
    border-radius: 18px;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}
.btn:hover {
    border-radius: 25px;
    color: #737272;
    text-decoration: underline;
}
.t button{
    border: none;
    background-color: #f8f8f8;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.re{
    position: relative;
}
.te{
    visibility: hidden;
    background-color: transparent;
    position: absolute;
    width: 70px;
    left: 71px;
    height: 80px;
    bottom: -60px;
    align-content: center;
    text-align: center;
    margin-left: 0;
}
.t button:hover{
    text-decoration: underline;
}
.t:active .te{
    visibility: visible;
}
.te:hover{
    visibility: visible;
}
.te a:hover{
    text-decoration: underline;
}
#home {
    width: auto;
    margin-top: 26.66px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 66.66px;
    font-weight: bold;
    color: #8c7707;
}
.gender-block {
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.gender-content {
    max-width: 3000px;
    padding: 20px;
    text-align: center;
}
.gender-content h2 {
    font-size: 48px;
    margin: 66.66px;
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-item {
    flex: 1 1 45%;
    position: relative;
    width: 300px;
    padding-bottom: 133.32px;
    padding-left: 53.33px;
    padding-right: 53.33px;
    text-align: center;
    overflow: hidden;
}
.product-item img {
    max-width: 100%;
    width: 100%;
    height: 800px;
}
.text{
    display: none;
    position: absolute;
    height: 30.66px;
    width: 20px;
    left: 53px;
    bottom: 160px;
}
.text:hover{
    display: block;
    opacity: 1;
}
.tex{
    visibility: hidden;
    color: #930000;
    font-weight: bold;
}
.text:checked+.tex{
    visibility: visible;
}
.product-item img:hover{
    filter: brightness(1.2);
}
.product-item img:hover+.text{
    display: block;
    opacity: 0.5;
}
.product-item img:hover+.text:checked{
    display: block;
    opacity: 0.5;
}
#about {
    background-color: #eee;
    padding: 0 auto;
}
#about p {
    padding-left: 40px;
}
h2 {
    font-family: serif;
    font-size: 40px;
    color: #695904;
}
#about p {
    align-content: center;
    width: auto;
    word-break: break-word;
}
#promotions {
    font-size: 26.66px;
    background-color: #f7f6f6;
    padding: 50px 0;
    text-align: center;
}
.container b {
    font-family: serif;
    font-size: 26.66px;
    color: #8c7707;
}
#testimonials {
    background: rgba(207, 207, 207, 0.72);
    padding: 50px 0;
}
.testimonial-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.testimonial-item {
    flex: 1 1 300px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
#newsletter {
    background: rgba(199, 199, 199, 0.92);
    padding: 50px 0;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
input[type="email"] {
    padding: 10px;
    width: 300px;
    margin-right: 5px;
}

.ins{
    padding: 10px 20px;
    color: #fff;
    background: #000;
    border: none;
}
.ins:hover {
    background: #837008;
}
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
footer ul li {
    margin: 0 10px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #737272;
    text-decoration: underline;
}
@media screen and (max-width: 992px) {

    .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding-top: 15px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero-content h1 {
        font-size: 50px;
    }

    .hero-content p {
        width: 100%;
        font-size: 24px;
    }

    .product-item {
        flex: 1 1 100%;
        padding: 20px;
    }

    .product-item img {
        height: 500px;
    }

    .gender-content h2 {
        font-size: 32px;
    }

    form {
        flex-direction: column;
    }

    input[type="email"] {
        width: 100%;
        margin: 10px 0;
    }

}
@media screen and (max-width: 576px) {

    .logo img {
        max-height: 90px;
    }
    
    .text{
        background: #f8f8f8;
        left: 20px;
        bottom: 48px;
    }
    .hero-content h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }
    
    .te{
        background-color: #f8f8f8;
        left: 55px;
        bottom: 165px;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .hero-content p {
        font-size: 18px;
        line-height: 1.4;
    }

    .btnhero {
        padding: 10px 20px;
        font-size: 14px;
    }

    #home {
        font-size: 28px;
    }

    .gender-content h2 {
        font-size: 24px;
        margin: 20px 0;
    }

    .product-item img {
        height: 350px;
    }

    #promotions {
        font-size: 16px;
        padding: 30px 10px;
    }

    .testimonial-item {
        margin: 10px 0;
    }

    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin: 5px 0;
    }

}